body{
  font-family: 'Montserrat', sans-serif;
  background-color: #8FCFD1;
  height: 100vh;
  color: black;
  font-size: 2vh;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.wrapper{
  width: 100%;
}

.btn{
  background-color: #DF5E88;
  border-radius: 10px;
  padding: 15px;
  border: none;
  font-size: 3vh;
  cursor: pointer;
  font-weight: bolder;
}

.bold{
  font-weight: bold;
  font-size: 5vh;
}

span{
  color: red;
  font-size: 5vh;
}

.btnAll{
  margin-top: 10px;
  background-color: #F6AB6C;
  border-radius: 10px;
  padding: 15px;
  border: none;
  font-size: 3vh;
  cursor: pointer;
  font-weight: bolder;
}

.showBtn{
  margin-left: 5px;
  color:#2D3250;
  background-color: #8FCFD1;
}

.img{
  width: 400px;
}


@media all and (max-width: 800px){
  body{
    font-size: 2vh;
  }
  
  .img{
    width: 300px;
  }

  .bold{
    font-weight: bold;
    font-size: 5vh;
  }


  span{
    color: red;
    font-size: 3.5vh;
  }

  .showBtn{
    font-size: 3vh;
  }

  .btn{
    font-size: 2.5vh;
  }
  
}

@media all and (max-width: 500px){
  body{
    font-size: 1.5vh;
  }
  
  .img{
    width: 250px;
  }

  .bold{
    font-weight: bold;
    font-size: 3vh;
  }

  span{
    color: red;
    font-size: 3vh;
  }

  .showBtn{
    font-size: 2vh;
  }

  .btn{
    font-size: 2vh;
  }
}

